<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <% if (user) {%>
    <h2>Welcome back <%= first_name %> <%= last_name %></h2>
    <a href="/logout">Log out</a>
    <%} else { %>
    <h2>Please log in</h2>
    <a href="/signin">Sign in</a>
    <% } %>
    <a href="/signup">Sign up</a>
    <% if (user) { %>
    <a href="<%= user.url %>/create-message">Create a new message</a>
    <% if (!userMembership) { %>
    <a href="<%= user.url %>/membership">Become a member</a>
    <% } %> <% if (!admin) { %>
    <a href="<%= user.url %>/admin">Become an admin</a>
    <% } %> <% } %>
    <h3>Message board</h3>
    <% for (const message of messages) { %>
    <div class="message">
      <% if (userMembership) { %>
      <h4>Title: <span><%= message.title %></span></h4>
      <p class="timestamp"><%= message.timestamp.toLocaleString() %></p>
      <% } %>
      <p class="messageContent"><%= message.text %></p>
      <% if (admin) { %>
      <form action="" method="post">
        <input type="hidden" name="messageID" value="<%= message._id %>" />
        <button type="submit">Delete message</button>
      </form>
      <% } %> <% } %>
    </div>
  </body>
</html>
